body {
  background-color: #fff !important;
}
@font-face {
  font-family: 'Gotham Pro';
  font-weight: 400;
  src: url('../public/font/GothamPro.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 300;
  src: url('../public/font/GothamPro-Light.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 600;
  src: url('../public/font/GothamPro-Bold.woff') format('woff');
}
